.el-dialog {
    & > .el-dialog__footer{
    height: 50px;
    background: #F5F5F5;
    text-align: center;
    }
    & > .el-dialog__header{
        padding-bottom: 15px;
        line-height: 25px;
        height: 25px;
        border-bottom: 1px solid #F1F1F1;
        .el-dialog__title{
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: rgba(0,0,0,0.90);
            font-weight: 500;
        }
        &>.el-dialog__headerbtn{
           height: 25px;
        }
    }
}
.el-message-box__title {
    font-family: PingFangSC-Medium;
    font-size: 16px !important;
}
.el-table tbody tr:hover>td {
    background-color: #FEF5EE !important;
}
.el-table__body .el-table__row.hover-row td {
    background-color: #FEF5EE !important;
}