@import './opacity.scss';
@import './color.scss';
@import './font.scss';
@import './layout.scss';
@import './settings.scss';
@import './transition.scss';

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

a{
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.flex-align-center{
  display:flex;
  align-items:center;
}

.editor-object-container {
  margin: 10px 0px;  
  .editor-item-container {
    padding-left: 22px;
    .editor-item-title{
      margin: 4px 8px;
      margin-left: 0;
      line-height: 20px;
      display: inline-block;
    }
  }
  .box-disabled{
    cursor: not-allowed;
    opacity: .3;
    &>*{
      pointer-events: none;
    }
  }
}