@import './opacity.scss';
@import './color.scss';
@import './font.scss';
@import './layout.scss';
@import './settings.scss';
@import './transition.scss';
@import './element-components.scss';

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC-Regular, PingFang SC;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  //   Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.editor-object-container {
  margin: 10px 0px;

  .editor-item-container {
    padding-left: 22px;

    .editor-item-title {
      margin: 4px 8px;
      margin-left: 0;
      line-height: 20px;
      display: inline-block;
    }
  }

  .box-disabled {
    cursor: not-allowed;
    opacity: .3;

    &>* {
      pointer-events: none;
    }
  }
}

// 滚动条样式优化
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 8px;
  background: #DDDDDD;
  transition: color .2s ease;
}

// element原生样式调整
.el-table {
  &.el-table--enable-row-hover {
    .el-table__body tr:hover>td.el-table__cell {
      background-color: #FEF5EE;
    }
  }
}