/**
* 16进制透明度对照表
**/
$oc-100: FF;
$oc-99: FC;
$oc-98: FA;
$oc-97: F7;
$oc-96: F5;
$oc-95: F2;
$oc-94: F0;
$oc-93: ED;
$oc-92: EB;
$oc-91: E8;
$oc-90: E6;
$oc-89: E3;
$oc-88: E0;
$oc-87: DE;
$oc-86: DB;
$oc-85: D9;
$oc-84: D6;
$oc-83: D4;
$oc-82: D1;
$oc-81: CF;
$oc-80: CC;
$oc-79: C9;
$oc-78: C7;
$oc-77: C4;
$oc-76: C2;
$oc-75: BF;
$oc-74: BD;
$oc-73: BA;
$oc-72: B8;
$oc-71: B5;
$oc-70: B3;
$oc-69: B0;
$oc-68: AD;
$oc-67: AB;
$oc-66: A8;
$oc-65: A6;
$oc-64: A3;
$oc-63: A1;
$oc-62: 9E;
$oc-61: 9C;
$oc-60: 99;
$oc-59: 96;
$oc-58: 94;
$oc-57: 91;
$oc-56: 8F;
$oc-55: 8C;
$oc-54: 8A;
$oc-53: 87;
$oc-52: 85;
$oc-51: 82;
$oc-50: 80;
$oc-49: 7D;
$oc-48: 7A;
$oc-47: 78;
$oc-46: 75;
$oc-45: 73;
$oc-44: 70;
$oc-43: 6E;
$oc-42: 6B;
$oc-41: 69;
$oc-40: 66;
$oc-39: 63;
$oc-38: 61;
$oc-37: 5E;
$oc-36: 5C;
$oc-35: 59;
$oc-34: 57;
$oc-33: 54;
$oc-32: 52;
$oc-31: 4F;
$oc-30: 4D;
$oc-29: 4A;
$oc-28: 47;
$oc-27: 45;
$oc-26: 42;
$oc-25: 40;
$oc-24: 3D;
$oc-23: 3B;
$oc-22: 38;
$oc-21: 36;
$oc-20: 33;
$oc-19: 30;
$oc-18: 2E;
$oc-17: 2B;
$oc-16: 29;
$oc-15: 26;
$oc-14: 24;
$oc-13: 21;
$oc-12: 1F;
$oc-11: 1C;
$oc-10: 1A;
$oc-9: 17;
$oc-8: 14;
$oc-7: 12;
$oc-6: 0F;
$oc-5: 0D;
$oc-4: 0A;
$oc-3: 08;
$oc-2: 05;
$oc-1: 03;
$oc-0: 00;

:export {
  oc-0: $oc-0;
  oc-1: $oc-1;
  oc-2: $oc-2;
  oc-3: $oc-3;
  oc-4: $oc-4;
  oc-5: $oc-5;
  oc-6: $oc-6;
  oc-7: $oc-7;
  oc-8: $oc-8;
  oc-9: $oc-9;
  oc-10: $oc-10;
  oc-11: $oc-11;
  oc-12: $oc-12;
  oc-13: $oc-13;
  oc-14: $oc-14;
  oc-15: $oc-15;
  oc-16: $oc-16;
  oc-17: $oc-17;
  oc-18: $oc-18;
  oc-19: $oc-19;
  oc-20: $oc-20;
  oc-21: $oc-21;
  oc-22: $oc-22;
  oc-23: $oc-23;
  oc-24: $oc-24;
  oc-25: $oc-25;
  oc-26: $oc-26;
  oc-27: $oc-27;
  oc-28: $oc-28;
  oc-29: $oc-29;
  oc-30: $oc-30;
  oc-31: $oc-31;
  oc-32: $oc-32;
  oc-33: $oc-33;
  oc-34: $oc-34;
  oc-35: $oc-35;
  oc-36: $oc-36;
  oc-37: $oc-37;
  oc-38: $oc-38;
  oc-39: $oc-39;
  oc-40: $oc-40;
  oc-41: $oc-41;
  oc-42: $oc-42;
  oc-43: $oc-43;
  oc-44: $oc-44;
  oc-45: $oc-45;
  oc-46: $oc-46;
  oc-47: $oc-47;
  oc-48: $oc-48;
  oc-49: $oc-49;
  oc-50: $oc-50;
  oc-51: $oc-51;
  oc-52: $oc-52;
  oc-53: $oc-53;
  oc-54: $oc-54;
  oc-55: $oc-55;
  oc-56: $oc-56;
  oc-57: $oc-57;
  oc-58: $oc-58;
  oc-59: $oc-59;
  oc-60: $oc-60;
  oc-61: $oc-61;
  oc-62: $oc-62;
  oc-63: $oc-63;
  oc-64: $oc-64;
  oc-65: $oc-65;
  oc-66: $oc-66;
  oc-67: $oc-67;
  oc-68: $oc-68;
  oc-69: $oc-69;
  oc-70: $oc-70;
  oc-71: $oc-71;
  oc-72: $oc-72;
  oc-73: $oc-73;
  oc-74: $oc-74;
  oc-75: $oc-75;
  oc-76: $oc-76;
  oc-77: $oc-77;
  oc-78: $oc-78;
  oc-79: $oc-79;
  oc-80: $oc-80;
  oc-81: $oc-81;
  oc-82: $oc-82;
  oc-83: $oc-83;
  oc-84: $oc-84;
  oc-85: $oc-85;
  oc-86: $oc-86;
  oc-87: $oc-87;
  oc-88: $oc-88;
  oc-89: $oc-89;
  oc-90: $oc-90;
  oc-91: $oc-91;
  oc-92: $oc-92;
  oc-93: $oc-93;
  oc-94: $oc-94;
  oc-95: $oc-95;
  oc-96: $oc-96;
  oc-97: $oc-97;
  oc-98: $oc-98;
  oc-99: $oc-99;
  oc-100: $oc-100;
}