.bi-header {
  display: flex;
  background-color: #2D303B;
  user-select: none;
  position: relative;
  height: 50px !important;
  line-height: 50px;
  color: #fff;
  width: 100%;

  .bi-header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .bi-header-btn {
      min-width: 108px;
      height: 26px;
      border-radius: 20px;
      border: 1px solid #FA8334;
      color: #F8F8F8;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-left: 24px;

      &.default {
        background: transparent;
      }

      &.primary {
        background: #FA8334;
        border: 0px;
      }
    }
  }
}

.tool-header {
  display: flex;
  align-items: center;
  position: relative;
  align-items: center;
  background: #2d3240;
  height: 48px !important;
  border-right: 1px solid hsla(0, 0%, 85%, .15);
  width: 100%;
}

.main-layout {
  padding: 0px;
  height: calc(100vh - 190px);
}

#content {
  height: 100%;
  // overflow-x: hidden;
}

.setting-panel {
  position: relative;
  display: flex;
  width: 100%;

  &-wrapper-fold {
    width: 240px;

  }

  &-wrapper-unfold {
    width: 50px;
    background-color: #242833;
  }

  .el-container {
    background: #383B47;
    height: calc(100vh - 98px);

    .el-tabs {
      width: 100%;

      .el-tabs__item {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.90);
        font-weight: 500;
      }

      .el-tabs__header {
        margin: 0px;
        padding: 0 20px 0 40px;
      }

      .el-tabs__nav-wrap::after {
        height: 0px;
      }

      .el-collapse-item__header,
      .el-collapse-item__wrap {
        background: #383B47;
        color: #fff;
        border: none;
      }

      .el-collapse {
        border-top: 0px;
        border-bottom: 0px;

        .el-collapse-item {
          .el-collapse-item__header {
            font-size: 12px;
            color: #FFFFFF;
            font-weight: 500;
            height: 41px;
            padding: 0 16px;
            border-top: 1px solid rgba(239, 242, 245, 0.10);
            border-bottom: 0px;
          }

          .el-collapse-item__content {
            background: #424550;
            padding: 12px 10px 0px 16px;
          }

          .el-collapse-item__wrap {
            border-bottom: 0px;
          }
        }

        .el-collapse-item:last-child {
          border-bottom: 1px solid rgba(239, 242, 245, 0.10);
        }
      }
    }

    .axis-tab {
      margin-top: -12px !important;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.90);
      font-weight: 400;

      .el-tabs__header {
        padding: 0px !important;

        .el-tabs__nav-wrap {
          margin: 0 -10px 0px -16px;

          .el-tabs__nav-scroll {
            border-bottom: 1px solid rgba(239, 242, 245, 0.20);
            padding-left: 16px;
          }
        }
      }

    }

    // 滚动条样式优化
    ::-webkit-scrollbar {
      width: 6px;
      height: 100px;
    }

    // 外层轨道
    ::-webkit-scrollbar-track {
      background: #383B47;
    }

    // 滚动的滑块
    ::-webkit-scrollbar-thumb {
      background: rgba(221, 221, 221, 0.25);
      border-radius: 6px;
    }
  }

  .el-container.chart-type-switch {

    // 滚动条样式优化
    &::-webkit-scrollbar {
      width: 6px;
      height: 100px;
    }

    // 外层轨道
    &::-webkit-scrollbar-track {
      background: #383B47;
    }

    // 滚动的滑块
    &::-webkit-scrollbar-thumb {
      background: rgba(221, 221, 221, 0.25);
      border-radius: 6px;
    }

  }

  .config-item {
    cursor: pointer;
    display: flex;
    height: 60px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    font-size: 12px;

    &:hover {
      color: #FA8334;
    }

    span {
      display: inline-block;
      writing-mode: vertical-lr;
    }
  }
}

// select选择框的 下拉样式 、dropdown的下拉样式
.setting-select.el-select-dropdown {
  border-radius: 2px;
  border: 0px;
  background: #323541;
  box-shadow: 1px 2px 10px 0px rgb(50 53 65 / 51%);

  .el-select-dropdown__item,
  .el-select-dropdown__item.selected {
    font-size: 12px;
    color: #F8F8F8;
    font-weight: 400;
  }

  .el-select-dropdown__item.hover,
  .el-dropdown-menu__item.hover {
    background: #434755;
  }

  .popper__arrow {
    display: none;
  }
}

// 多选的select 下拉框
.setting-select.is-multiple {

  .el-select-dropdown__item.selected,
  .el-select-dropdown__item.selected.hover {
    background: #434755;
    font-size: 12px;
    color: #F8F8F8;
    font-weight: 400;
  }
}

.setting-dropdown {
  border-radius: 2px;
  border: 0px;
  background: #323541;
  min-width: 52px;
  box-shadow: 1px 2px 10px 0px rgb(50 53 65 / 51%);

  .el-dropdown-menu__item:hover {
    background: #434755;
    font-size: 12px;
    color: #F8F8F8;
    font-weight: 400;

  }

  .popper__arrow {
    display: none;
  }
}

.setting-select.el-popper[x-placement^=bottom],
.setting-dropdown.el-popper[x-placement^=bottom] {
  margin-top: 2px;
}

// 颜色设置的popper
.color-popover {
  padding: 0px !important;

  .popper__arrow {
    display: none !important;
  }

  .label {
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
  }

  .label.active {
    color: #000;
  }

  .color-container {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: #ebeef5;
    }
  }

  .color-container.active {
    background-color: #ebeef5;
  }

  .color-block {
    width: 48px;
    height: 16px;
    line-height: 7px;
    margin-right: 8px;

    .color-row {
      display: inline-block;
      width: 8px;
      height: 8px
    }
  }

}

.data-panel {
  border-left: 1px solid hsla(0, 0%, 85%, .15);
  background-color: #242833;
  z-index: 2;
  color: hsla(0, 0%, 100%, .75);
  max-width: 240px;
  position: relative;
  font-size: 12px;

  &-fold {
    width: 180px;
  }

  &-unfold {
    width: 50px;
  }

  &-tree {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .el-tree {
    color: inherit;
    background-color: inherit;
    font-size: 12px;

    .el-tree-node__content:hover {
      background-color: hsla(0, 0%, 100%, .1);
    }

    .el-tree-node:focus>.el-tree-node__content {
      background-color: inherit;
    }
  }
}

.tree-wrapper {
  height: calc(100% - 33px);

  .filter-tree {
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    padding: 8px 12px;
    padding-top: 0;
  }

  .data-panel-dimension-tree {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid hsla(0, 0%, 85%, .15);
    height: 50%;
    max-height: calc(100% - 30px);

    .el-tree-node.is-current>.el-tree-node__content {
      background: transparent;
      border: 1px solid #2e74ff
    }
  }

  .data-panel-measure-tree {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50%;
    min-height: 30px;

    .el-tree-node.is-current>.el-tree-node__content {
      background: transparent;
      border: 1px solid #26bf59;
    }
  }

  .data-panel-tree-title {
    box-sizing: border-box;
    padding: 8px 12px;
    padding-bottom: 4px;
    display: flex;
  }
}

.cube-switch {
  box-sizing: border-box;
  padding: 0 8px 8px 8px;

  .j-select-cube {
    display: flex;
    position: relative;
    z-index: 11;

    .guid-tip-container {
      position: relative;
      display: block;
      line-height: 1.5;
      flex: 1 1 0%;
    }

    .edit-cube {
      display: flex;
      align-items: center;
      background-color: transparent;
      margin-left: 4px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.change-chart-type-menu {
  box-sizing: border-box;
  height: 48px;
  line-height: 48px;
  background: #2d3240;
  color: #fff;
  font-size: 14px;
  padding: 0 12px;
  border-bottom: 1px solid rgba(49, 39, 39, 0.15);
  position: relative;

  .panel-icon {
    position: absolute;
    right: 12px;
    display: inline-flex;
    margin-top: 14px;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease;
    transform: rotate(180deg);
  }
}

.tab-pane-content {
  height: calc(100vh - 138px);
  overflow: auto;

  .data-panel-field-wrapper {
    background: #383B47;
    height: 100%;
    display: flex;
    flex-direction: column;

    .areas-wrapper {
      overflow-y: auto;

      .field-area-wrapper {
        box-sizing: border-box;
        font-size: 12px;
        color: #fff;
        padding: 12px 16px;
        padding-bottom: 20px;
        border-top: 1px solid rgba(239, 242, 245, 0.10);
        position: relative;

        .field-area-header {
          display: flex;
          margin-bottom: 12px;
          align-items: center;

          span {
            margin-right: 7px;
            font-size: 12px;
            color: #F23B3C;
            font-weight: 500;
          }

          .area-name {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.90);
            font-weight: 500;
            margin-right: 8px;
          }

          i {
            cursor: pointer;
          }
        }

        .field-area-body {
          transition: height .3s ease;
          min-height: 28px;
          border-radius: 2px;
          background: #434755;
          border: 1px dashed rgba(221, 221, 221, 0.25);

          .field-box-wrapper {
            display: flex;
            align-items: center;
            margin: 1px;
            font-size: 12px;
            height: 28px;
            position: relative;
            margin: 8px;

            .base-field-box {
              box-sizing: border-box;
              padding: 0 8px;
              flex-grow: 1;
              display: flex;
              align-items: center;
              height: 100%;
              max-width: 100%;
              border-radius: 2px;
              overflow: hidden;

              .field-caption {
                flex-grow: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              &:hover .right-hover-icons {
                display: block;
              }

              .right-hover-icons {
                color: hsla(0, 0%, 100%, .5);
                font-size: 14px;
                white-space: nowrap;
                display: none;
              }
            }

            .dimension-field-box {
              background: rgba(255, 172, 46, 0.10);
              border: 1px solid rgba(255, 172, 46, 0.3);
              border-radius: 2px;
            }

            .measure-field-box {
              background: rgba(117, 209, 100, 0.10);
              border: 1px solid rgba(117, 209, 100, 1);
              border-radius: 2px;
            }

            .svg-icon {
              width: 20px;
              height: 20px;
              margin-right: 2px;
            }
          }

          .blank-area-tip {
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.75);
            font-weight: 400;
            line-height: 28px;
          }
        }
      }

      .field-area-wrapper:last-of-type {
        border-bottom: 1px solid rgba(239, 242, 245, 0.10);
      }
    }

    .update-wrapper {
      margin-top: auto;

      .limit-input {
        box-sizing: border-box;
        background: rgba(0, 0, 0, .1);
        color: #fff;
        padding: 0 8px;
        width: 88px;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 2px;

        .el-input>.el-input__inner {
          border-width: 0px !important;
        }
      }

      .result-display {
        box-sizing: border-box;
        display: flex;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        min-height: 32px;
        background: #323541;
        border-radius: 0;

        span {
          font-size: 12px;
          color: #F8F8F8;
          font-weight: 400;
        }
      }

      button {
        width: 100%;
        border-radius: 0px;

        span {
          font-size: 12px;
          color: #F8F8F8;
          font-weight: 400;
        }
      }

      .auto-refresh-wrapper {
        display: flex;
        align-items: center;
        padding: 12px 16px;
        height: 48px;

        .el-checkbox {
          margin-right: 8px;
        }

        .el-checkbox__inner {
          height: 12px;
          width: 12px;
          background-color: transparent;
          border: 1px solid rgba(104, 106, 114, 1);

          &::after {
            height: 6px;
            left: 3px;
            top: 0px;
          }
        }

        .el-checkbox__label {
          padding-left: 8px;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.75);
          font-weight: 500;
        }

        .el-checkbox__input.is-checked .el-checkbox__inner,
        .el-checkbox__input.is-indeterminate .el-checkbox__inner {
          background-color: #FA8334;
          border-color: #FA8334;
        }

        .el-checkbox__input.is-checked+.el-checkbox__label {
          color: rgba(255, 255, 255, 0.75);
        }

        .limit-input {
          margin-right: 8px;
        }

        .el-select .el-input .el-select__caret {
          line-height: 24px;
          font-size: 12px;
          margin-right: -5px;
        }

        .el-input--small .el-input__inner {
          width: 52px;
          height: 24px !important;
          background-color: transparent !important;
          border: 1px solid rgba(221, 221, 221, 0.25);
          border-radius: 2px;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.75);
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 0px;
          padding-left: 10px;

          &::placeholder {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.25);
            font-weight: 400;
          }
        }
      }
    }
  }

  // .el-collapse{
  //   border-top: 0px;
  //   border-bottom: 0px;
  //   .el-collapse-item{
  //     .el-collapse-item__header{
  //       font-size: 12px;
  //       color: #FFFFFF;
  //       font-weight: 500;
  //       padding: 0 16px;
  //       border-top: 1px solid rgba(239,242,245,0.10);
  //       border-bottom: 0px;
  //     }
  //     .el-collapse-item__content{
  //       background: #424550;
  //       padding: 12px 10px 0px 16px;
  //     }
  //     .el-collapse-item__wrap{
  //       border-bottom: 0px;
  //     }
  //   }
  //   .el-collapse-item:last-child{
  //     border-bottom: 1px solid rgba(239,242,245,0.10);
  //   }
  // }
}

.page-config-panel {
  width: 420px;
  background: #2d3240;
  display: flex;
  flex-direction: column;

  .page-config-top {
    box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    background: #2d3240;
    color: rgba(255, 255, 255, 0.90);
    font-size: 14px;
    font-weight: 500;
    padding: 0 12px;
    border-bottom: 1px solid hsla(0, 0%, 85%, .15);
  }
}